@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}

.top { 
  display: flex;
  flex-direction: row;
  color:black ;
  font-size: 15px;
  font-family: 'Font', sans-serif;
  padding-left: 2.5rem; 
  padding-right: 2.5rem;
  font-weight: 500;
  padding-bottom: 2.5rem;
  cursor: pointer;
}
.ic {
  font-size: 6px;
  padding-top: 0.1rem;
  
}
.img {
  padding-top: 2.5rem;

}
.img:hover{
  cursor: pointer;
  transition: transform 3s ease;
}
.right{
  display: flex;
  flex-direction: row;
  margin-left: 35%;
  padding-top: 2.5rem;
}
.right:hover {
  cursor: pointer;
  transition: transform 3s ease;
}
.home{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.serv {
  -webkit-text-stroke: 0.05px black; 
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); 
  width:60px;
  overflow-wrap: break-word;
  cursor: pointer;
}
.serv,.home,.sup,.sol {
  cursor: pointer;
  margin-right: 3rem;
  width:70px;
  overflow-wrap: break-word;
}
.con {
  width:86px;
  margin-right: 5rem;
  cursor: pointer;
  overflow-wrap: break-word;
}
.but {
  color: white;
  background-color: #433878;
  width: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.drop {
  margin-left: 1.3rem;
}
.but:hover {
  cursor: pointer;
  transition: transform 3s ease;
}
@media (min-width:1600px){
  .but {
    margin-left: 4rem;
    color: white;
    background-color: #433878;
    width: 6.67rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
  .drop {
    margin-left: 1rem;
  }
  .DropDown  {
    position: absolute;
    margin-top: 3.7rem;
    background-color: grey;
    width: 6.67rem;
    text-align: center;
    height: 2rem;
    border-bottom-left-radius:0.5rem ;
    border-bottom-right-radius: 0.5rem;

  }

  .con{
    width: max-content;
    margin-right: 0;
  }
}
.ic2{
  font-size: 12px;
  padding-left: 0.5rem;
}
.DropDown  {
  position: absolute;
  margin-top: 3.7rem;
  background-color: grey;
  width: 6.67rem;
  text-align: center;
  height: 2rem;
  border-bottom-left-radius:0.5rem ;
  border-bottom-right-radius: 0.5rem;
  padding: 0.2rem;

}
.DropDown li :hover {
  color: black;
  cursor: pointer;
  transition: transform 5s ease;
}
@media (max-width: 768px) {
.broimg{
  height: auto;
  width: 122px;
}
.top { 
  display: flex;
  flex-direction: row;
  color:#FDFDFD ;
  font-size: 12px;
  font-family: 'Font', sans-serif; 
  font-weight: 500;
  padding-bottom: 0rem;
}
.ic {
  font-size: 3px;
  
}

.img:hover{
  cursor: pointer;
  transition: transform 3s ease;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  margin-left: 0;
  display: none;
}
.right:hover {
  cursor: pointer;
  transition: transform 3s ease;
}
.home{ 
  display: flex;
  flex-direction: row;
  text-align: center;
}
.serv {
  -webkit-text-stroke: 0.05px black; 
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); 
  width:60px;
  overflow-wrap: break-word;
}
.serv,.home,.sup,.sol {
  margin-right: 3rem;
  width:66px;
  overflow-wrap: break-word;
}
.con {
  width:86px;
  overflow-wrap: break-word;
}
.but {
  background-color: #433878;
  width: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: 6rem;
}
.drop {
  margin-left: 0.7rem;
}
.but:hover {
  cursor: pointer;
  transition: transform 3s ease;
}
.ic2{
  font-size: 12px;
  padding-left: 0.5rem;
}
.DropDown  {
  position: absolute;
  margin-top: 3.2rem;
  background-color: grey;
  width: 5.5rem;
  text-align: center;
  height: 1.8rem;
  border-bottom-left-radius:0.5rem ;
  border-bottom-right-radius: 0.5rem;
  padding: 0.2rem;

}
}
