.body {
  height: max-content;
  background-color: #F7F4FA;
  width: 100%;
  overflow-x: hidden;
}
@media (min-width: 2000px) {
  .body {
    background-color: white; /* Light gray background */
    overflow-x: hidden;
  }
  .body{
    width: 1440px; /* Keep the original size */
    margin: auto; /* Center the content */
    overflow-x: hidden;
  }

}