@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConLight';
  src: url('/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConBold';
  src: url('/fonts/NotoSans_SemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiBold';
  src: url('/fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ShortBold';
  src: url('/fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConThin';
  src: url('/fonts/NotoSans_ExtraCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConBoldFont';
  src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldFont';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConFont';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraCond';
  src: url('/fonts/NotoSans_ExtraCondensed-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraBold';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}
@font-face {
  font-family: 'Regular';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.main12{
  background-color: #433878;
  color: white;
  margin-top: 0rem;
  font-family: 'Font', sans-serif;
  display: flex;
  flex-direction: column;
}
.bot12{
  font-family: "Font", sans-serif;
  padding-top: 4.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 1.5rem;
}
.bott {
  display: flex;
  flex-direction: row;
}
.bottombox2{
  display: flex;
  flex-direction: row;
  margin-left: 25rem;
}
.bot1{
  width: 9.5%;

}
.bottext12{
  font-family: "BoldFont", sans-serif;
  font-size: 13px;
}
.bots1,.bots2,.bots223,.bots224 {
  font-family: "Font", sans-serif;
  font-size: 12px;
}
.bots223{
  line-height: 0.25in;
}
.bots2{
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}
.bot2{
  margin-right: 6rem;
  width: 130px;

}
.bot22{
  width: 180px;
  margin-right: 6rem;
  line-height: 0.25in;
}
.bot23{ 
  line-height: 0.25in;
}
.bots21{ 
  font-family: "Regular", sans-serif;

  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0.8rem;
}
.bots22,.bots23{
font-size: 12px;
line-height: 0.25in;
}
.botline{
  border: 0.5px;
  opacity: 0.7;
  border-color: white;
  border-style: solid;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}
.foot1{
  display: flex;
  flex-direction: row;
  font-size: 13px;
  width: 100%;
}
.footdiv1{
  font-family: "BoldFont", sans-serif;
}
.footdiv2{
  font-family: "BoldFont", sans-serif;
  margin-left: auto;
}
@media (max-width: 768px){
  .main12{
    margin-top: 0rem;
    font-family: 'Font', sans-serif;
    display: flex;
    flex-direction: column;
  }
  .top12{ 
    background-color: #F1F1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .img122{
    width: 75%;
    margin-left: 2.7rem;
  }
  .ttext12{
    font-family: 'DM Sans' , sans-serif;
    margin-bottom: 2rem;
    width: 75%;
    font-size: 10px;
  }
  .bot12{
    background-color: #433878;
    color: white;
    padding-top: 1.5rem;
    /* padding-left: 1rem;
    padding-right: 7rem; */
    padding-bottom: 1.5rem;
    /* padding: 0; */
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin: 0;
  }
  .bott {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .bottombox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .bot1{
    width: 100%;
  
  }

  .bottext12{
    font-size: 12px;
    font-weight: 600;
  }
  .bots1,.bots2 {
    font-size: 10px;
  }
  .bots2{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .img123{
    width: 20px;
  }
  .bot2{
    margin-top: 1.5rem;
    width: 100%;
    margin-right: 0;
  }
  .bot22{
    width: 100%;
    margin-right: 0;
    line-height: 0.25in;
    margin-top: 1.5rem;
  }
  .bot23{ 
    width: 100%;
    margin-left: 0;
    margin-top: 1.5rem;
    line-height: 0.25in;

  }
  .bots21{ 
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 0.3rem;
  }
  .bots22,.bots23{
  font-size: 9px;
  line-height: 0.2in;

  }
  .botline{
    border: 0.5px;
    opacity: 0.7;
    border-color: white;
    border-style: solid;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .foot1{
    display: flex;
    flex-direction: column;
    font-size: 8px;
  }
  .footdiv2{
    margin-left: 0;
  }
}
@media (min-width:1600px) {
  .main12{
    background-color: #433878;
    font-family: 'Font', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .bot12{
    width: 1440px;
    margin: auto;
    color: white;
    padding-top: 4.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 1.5rem;
  }
  .bott {
    display: flex;
    flex-direction: row;
  }
  .bottombox2{
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
  }
  .bot1{
    width: 9.5%;
  
  }
  .bottext12{
    font-size: 13px;
    font-weight: 600;
  }
  .bots1,.bots2 {
    font-size: 12px;
  }
  .bots2{
    margin-top: 1rem;
    margin-bottom: 2.3rem;
  }
  .bot2{
    margin-right: 6rem;
    width: 130px;
  
  }
  .bot22{
    width: 180px;
    margin-right: 6rem;
    line-height: 0.25in;
  }
  .bot23{ 
    line-height: 0.25in;
  }
  .bots21{ 
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0.8rem;
  }
  .bots22,.bots23{
  font-size: 12px;
  line-height: 0.25in;
  }
  .botline{
    border: 0.5px;
    opacity: 0.7;
    border-color: white;
    border-style: solid;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
  }
  .foot1{
    display: flex;
    flex-direction: row;
    font-size: 13px;
  }
}
  @media (max-width: 768px){
    .main12{
      margin-top: 0rem;
      font-family: 'Font', sans-serif;
      display: flex;
      flex-direction: column;
    }
    .top12{ 
      background-color: #F1F1FF;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .img122{
      width: 75%;
      margin-left: 2.7rem;
    }
    .ttext12{
      font-family: 'DM Sans' , sans-serif;
      margin-bottom: 2rem;
      width: 75%;
      font-size: 10px;
    }
    .bot12{
      background-color: #433878;
      color: white;
      padding-top: 1.5rem;
      /* padding-left: 1rem;
      padding-right: 7rem; */
      padding-bottom: 1.5rem;
      /* padding: 0; */
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      margin: 0;
    }
    .bott {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    .bottombox2{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
    .bot1{
      width: 100%;
    
    }
    .bottext12{
      font-size: 12px;
      font-weight: 600;
    }
    .bots1,.bots2 {
      font-size: 10px;
    }
    .bots1{
      width: 34%;
    }
    .bots223,.bots224{
      font-size: 9px;
      line-height: 0.2in;
      width: 40%;
    }
    .bots22{
      width: 50%;
    }
    .bots2{
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
    .img123{
      width: 20px;
    }
    .bot2{
      margin-top: 1.5rem;
      width: 100%;
      margin-right: 0;
    }
    .bot22{
      width: 100%;
      margin-right: 0;
      line-height: 0.25in;
      margin-top: 1.5rem;
    }
    .bot23{ 
      width: 100%;
      margin-left: 0;
      margin-top: 1.5rem;
      line-height: 0.25in;
  
    }
    .bots21{ 
      text-transform: uppercase;
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 0.3rem;
    }
    .bots22{
    font-size: 9px;
    line-height: 0.2in;
  
    }
    .bots23{
      width: 25%;
    }
    .botline{
      border: 0.5px;
      opacity: 0.7;
      border-color: white;
      border-style: solid;
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }
    .foot1{
      display: flex;
      flex-direction: column;
      font-size: 8px;
    }
    .footdiv2{
      margin-left: 0;
    }
  }
