@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'ConLight';
  src: url('/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShortBold';
  src: url('/fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConThin';
  src: url('/fonts/NotoSans_ExtraCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConBoldFont';
  src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldFont';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConFont';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraBold';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}
.main {
  display: flex;
  flex-direction: row;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-family: 'Font', sans-serif;
  height: fit-content;
  padding-top: 4rem;
}
.left {
  width: 50vw;
}
.right {
  width: 50vw;
}
.T1{
  font-family: "ConBoldFont", sans-serif;
  font-size: 53px;
  color: #433878;
  padding-bottom: 1rem;
}
.T2{ 
  font-size: 17px;
  padding-bottom: 2rem;
}
.right{
  color: #433878;
}
.rtop {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 3rem;
  border: 1px;
  border-color: #433878;
  border-style: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  height: 12rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.rt1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 3rem;
}
.rlt1{ 
  font-family:"BoldFont",sans-serif;
  font-size: 38px;
  font-weight: 800;
  padding-bottom: 0.7rem;
}
.rst1{
  font-size: 14px;
  opacity: 0.5;
}
.rbottom {
  padding-left: 3rem;
}
.rbi1 {
  background-color: #433878;
  display: inline-block;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.sline {
  height: 3rem;
  border: 0.5px;
  border-color: #433878;
  border-style: solid;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Font', sans-serif;
    height: fit-content;
    padding-top: 1rem;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .T1{
    font-family: "ConBoldFont", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #433878;
    padding-bottom: 1rem;
  }
  .T2{ 
    font-size: 14px;
    padding-bottom: 1rem;
  }
  .right{
    color: #433878;
  }
  .rtop {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    margin-bottom: 0rem;
    border: 1px;
    border-color: #433878;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 7rem;
    margin-left: 0rem;
  }
  .rt1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: max-content;
    margin-top: 1.5rem;
  }
  .rlt1{ 
    font-family:"BoldFont",sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 0rem;
  }
  .rst1{
    font-size: 10px;
    opacity: 0.9;
  }
  .rbottom {
    margin-top: 0;
    padding-left:0rem;
  }
  .rbi1 {
    background-color: #433878;
    display: inline-block;
    border-radius: 0.5rem;
    margin-bottom: 0.4rem;

  }
  .sline {
    height: 1rem;
    border: 0.3px;
    border-color: #433878;
    border-style: solid;
    margin-top: 2rem;
  }
}