@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'ConLight';
  src: url('/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConThin';
  src: url('/fonts/NotoSans_ExtraCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConBoldFont';
  src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldFont';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConFont';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraBold';
  src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.t {
  font-family: 'ExtraBold', sans-serif;
  color:#FDFDFD ;
  padding: 2.5rem;
}
.t1{ 

  font-size: 85px;
  font-weight: 700;
  margin-top: 6%;
  width: 80%;
}
.t2{
  font-family: "Font", sans-serif;
  font-size: 25px;
  width: 55%;
}
@media (max-width: 768px) {
  .t {
    font-family: 'Font', sans-serif;
    color:#FDFDFD ;

  }
  .t1{ 
    font-family: 'ExtraBold', sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 25%;
    width: 70%;
  }
  .t2{
    font-size: 17px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}