@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'ConLight';
  src: url('/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConBold';
  src: url('/fonts/NotoSans_SemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ShortBold';
  src: url('/fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConThin';
  src: url('/fonts/NotoSans_ExtraCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConBoldFont';
  src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldFont';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConFont';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraCond';
  src: url('/fonts/NotoSans_ExtraCondensed-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraBold';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}
.top9{
  background-color: white;
  padding-left: 2.5rem;
  padding-top: 1rem;
  background-color: #433878;
  padding-bottom: 2rem;
}
.mainish{
    background-color: #f7f4fa;
}
.main9 {
  padding-top: 2rem;
  font-family: 'Font', sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  background-color: white;
  padding-bottom: 2rem;
  border-radius: 10px;
  border: 0.5px;
  border-style: solid;
  border-color: #433878;
}
.left9{
  width: 55%;
}
.ofc{
  height: 260px;
  width: auto;
  margin: auto;
}
.llime{
  border: 0.5px;
  border-style: solid;
  border-color: white;
  width: 20%;
}
.newline9{
  border: 0.5px;
  border-style: solid;
  border-color: #433878;
  width: 50%;
  margin-bottom: 1rem;
}
.lefttop9{ 
  font-family: "ConBoldFont", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
}
.lefttit9 {
  font-family: "BoldFont", sans-serif;
  font-size:60px;
  color: white;

}
.right9{

  margin-left: 3.5rem;
}
.righttop9{
  color: #433878;
  text-transform: uppercase;
  font-family: "ConBoldFont", sans-serif;
  font-size: 17px;
  margin-bottom: 0.8rem;
}
.righttit9 {
  font-size:43px;
  font-weight: 800;
  color: #433878;
  margin-bottom: 0.5rem;
}
.rightmc {
  font-size: 17px;
  width: 85%;
  opacity: 0.75;
  margin-bottom: 2rem;
}
.rightbut9{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #433878;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  padding-left: 2.5rem;
  border-radius: 5px;
}
@media (max-width: 768px){
  .main9 {
    font-family: 'Font', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

  }
  .left9{
    width: 100%;
  }
  .lefttop9{ 
    font-family: "ConBoldFont", sans-serif;
    color: #433878;
    text-transform: uppercase;
    font-stretch: condensed;
    font-weight: 1000;
    font-size: 13px;
    margin-bottom: 0.8rem;
  }
  .lefttit9 {
    font-family: "BoldFont", sans-serif;
    font-size:30px;
    font-weight: 800;
    color: #433878;
    margin-bottom: 1rem;
  }
  .right9{
   margin-top: 1rem;
   margin-left: 0;
  }
  .righttop9{
    color: #433878;
    text-transform: uppercase;
    font-family: "ConBoldFont", sans-serif;
    font-weight: 1000;
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
  .righttit9 {
    font-size:24px;
    font-weight: 800;
    color: #433878;
    margin-bottom: 0.6rem;
  }
  .rightmc {
    font-size: 17px;
    width: 85%;
    opacity: 0.75;
    margin-bottom: 3rem;
  }
  .rightbut9{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #433878;
    color: white;
    font-size: 13px;
    font-weight: 500;
    width: max-content;
    height: 32px;
    padding-left: 1.5rem;
    border-radius: 5px;
  }
}