@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'ConLight';
  src: url('/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConBold';
  src: url('/fonts/NotoSans_SemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ShortBold';
  src: url('/fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConThin';
  src: url('/fonts/NotoSans_ExtraCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConBoldFont';
  src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldFont';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConFont';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraCond';
  src: url('/fonts/NotoSans_ExtraCondensed-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ExtraBold';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}
.top9{
  background-color: white;
  padding-left: 2.5rem;
  padding-top: 1rem;
  background-color: #433878;
  padding-bottom: 2rem;
}
.mainish{
    background-color: #f7f4fa;
}
.main9 {
  padding-top: 2rem;
  font-family: 'Font', sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  background-color: white;
  padding-bottom: 2rem;
  border-radius: 10px;
  border: 0.5px;
  border-style: solid;
  border-color: #433878;
}
.left9{
  width: 45%;
}
.right9{
  width: 50%;
  padding-left: 5rem;
  border: 0.5px;
  border-style: solid;
  border-color: #433878;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}
.ofc{
  height: 260px;
  width: auto;
  margin: auto;
  
}
.llime{
  border: 0.5px;
  border-style: solid;
  border-color: white;
  width: 20%;
}
.newline9{
  border: 0.5px;
  border-style: solid;
  border-color: #433878;
  width: 50%;
  margin-bottom: 1rem;
}
.lefttop9{ 
  font-family: "ConBoldFont", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
}
.lefttit9 {
  font-family: "BoldFont", sans-serif;
  font-size:60px;
  color: white;

}

.righttop9{
  color: #433878;
  text-transform: uppercase;
  font-family: "ConBoldFont", sans-serif;
  font-size: 17px;
  margin-bottom: 0.8rem;
}
.righttit9 {
  font-size:43px;
  font-weight: 800;
  color: #433878;
  margin-bottom: 0.5rem;
}
.rightmc {
  font-size: 17px;
  width: 85%;
  opacity: 0.75;
  margin-bottom: 2rem;
}
.rightbut9{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #433878;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  padding-left: 2.5rem;
  border-radius: 5px;
}
.mainline{
  border: 0.5px;
  border-style: solid;
  border-color: #433878;
  height: 260px;
  margin-right: 3%;
  margin-left: 0%;
}
@media (max-width: 768px){
  .top9{
    background-color: white;
    padding-left: 2.5rem;
    padding-top: 1rem;
    background-color: #433878;
    padding-bottom: 2rem;
  }
  .mainish{
      background-color: #f7f4fa;
  }
  .main9 {
    padding-top: 2rem;
    font-family: 'Font', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: white;
    padding-bottom: 2rem;
    border-radius: 10px;
    border: 0.5px;
    border-style: solid;
    border-color: #433878;
  }
  .left9{
    width: 100%;
  }
  .ofc{
    height: auto;
    width: 250px;
   margin: auto;
    
  }
  .llime{
    border: 0.5px;
    border-style: solid;
    border-color: white;
    width: 60%;
  }
  .newline9{
    border: 0.5px;
    border-style: solid;
    border-color: #433878;
    width: 50%;
    margin-bottom: 1rem;
  }
  .lefttop9{ 
    font-family: "ConBoldFont", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
  }
  .lefttit9 {
    font-family: "BoldFont", sans-serif;
    font-size:40px;
    color: white;
  
  }
  
  .righttop9{
    color: #433878;
    text-transform: uppercase;
    font-family: "ConBoldFont", sans-serif;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 0.5rem;
    width: 100%;
  }
  .righttit9 {
    font-size:33px;
    font-weight: 800;
    color: #433878;
    margin-bottom: 0.5rem;
  }
  .rightmc {
    font-size: 13px;
    width: 85%;
    opacity: 0.75;
    margin-bottom: 2rem;
  }
  .right9{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0;
  }
  .rightbut9{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #433878;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    height: 50px;
    padding-left: 2.5rem;
    border-radius: 5px;
  }
  .mainline{
    border: 0.5px;
    border-style: solid;
    border-color: #433878;
    height: 260px;
    margin-right: 3%;
    margin-left: 0%;
    display: none;
  }
}