
.body{
  height: 96vh; /* Set container height */
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; /* No repetition */
  background-position:  top-center; /* Align image to the top-center */
  background-image: url('/images/Rectangle2675.svg');
  margin: 0; /* Remove default margin */
  overflow-x:hidden
}
.content{
  overflow-x:hidden
}
@media (max-width: 768px){
  .body {
    height: 60%;
    background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  }
}
/* Media query for screens 1440px or wider */
@media (min-width: 1600px) {
  .body {
    background-color: white; /* Light gray background */
  }
  .body{
    width: 1440px; /* Keep the original size */
    margin: auto; /* Center the content */
  }
  .content {
    width: 1440px; /* Keep the original size */
    margin: auto; /* Center the content */
  }
}