@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'ConLight';
  src: url('/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ConBoldFont';
  src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldFont';
  src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConFont';
  src: url('/fonts/NotoSans_SemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.bod{
  background-color: #F7F4FA;
}
.top {
  padding-top: 10rem;
}
.main {
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: "Font", sans-serif;
}
.topt{
  font-family: "BoldFont", sans-serif;
  color: #433878;
  font-size: 44px;
  font-weight: 300;
}
.line{ 
  width: 38%;
  height: 0;
  border: 0.5px;
  border-style: solid;
  border-color: #433878;
  opacity: 0.7;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.topst,.l2{
  font-family: "SemiConFont", sans-serif;
  font-size: 17px;
  font-weight: 600;
  width: 90%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.maintop{
  display: flex;
  flex-direction: row;
}
.image{
  width: 50%;
}
.scroll {
  width: 50%;
}
.midbox{
  background-color: #433878;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  border-radius: 16px;
  margin-bottom: 4rem;
}
.midbl {
  width: 50%;
  height: 27.9rem;
  padding: 2rem;
}
.midbimg{
  width: 0;
}
.mg1,.mg2{
  position: absolute;
  margin-left: 4rem;
}
.mg1{
  margin-top: 1.5rem;
}
.s1{
  font-family: "ConLight", sans-serif;
  margin-bottom: 1.6rem;
  font-weight: 1000;
}
.s2{
  font-family: "BoldFont", sans-serif;
  font-size: 42px;
}
.line1{
  height: 0;
  width: 80%;
  color:#FDFDFD;
  opacity: 0.7;
  border: 0.5px;
  border-style: solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.s3{
  font-size: 14px;
  width: 80%;
}
.l1{ 
  font-family: "BoldFont", sans-serif;
  color: #433878;
  font-size: 44px;
}
.boxes{
  display: flex;
  flex-direction: column;
}
.topb,.botb{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 2rem;
}
.box,.box5{
  background-color: #ECEBFF;
  border-radius: 17px;
  padding: 2rem;
  box-shadow: 1px 0px 7px 1px rgba(160, 160, 160, 0.5);
}
.box:hover,.box5:hover{
  cursor: pointer; 
  background-color: #433878;
  color: white;
  box-shadow: 1px 0px 7px 1px rgba(160, 160, 160, 0.5);
  .tit,.tit5{
    color: white;
  }
  .lline,.lline5{
    color: white;
  }
}
.tit{
  margin-top: 1rem;
  color: #433878;
  font-family: "ConBoldFont", sans-serif;
  font-size: 24px;
  font-weight: 100;
}

.tit5{
  margin-top: 1rem;
  color: #433878;
  font-family: "ConBoldFont", sans-serif;
  font-size: 24px;
  font-weight: 100;
}
.lline5{
  width: 70%;
  height: 0;
  color: #433878;
  border: 0.5px;
  opacity: 0.7;
  border-style: solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.lline{
  width: 70%;
  height: 0;
  color: #433878;
  border: 0.5px;
  opacity: 0.7;
  border-style: solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.maincon,.maincon3{
  font-family: "ConBoldFont", sans-serif;
  font-size: 18px;
  margin-bottom: 0.7rem;
}
.maincon1{
  font-size: 13px;
  width: 95%;
  margin-bottom: 1.2rem;
}
.maincon3{
  margin-top: 1.2rem;
}
.arrow1,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  transition: transform 0.3s ease;
  background-color: white;
  color: #5243C2;
  border: 1px;
  border-style: solid;
  border-color: #5243C2;
  transform: rotate(270deg);
}
.arrow1{
  position: absolute;
  margin-left:32rem;
}
.arrow2{
  margin-left: 32rem;
}
.arrow3{
  margin-left: 32rem;
}
.arrow4{
  margin-left: 32rem;
}
.arrow5{
  margin-left: 32rem;
}
.arrow6{
  margin-left: 32rem;
}
.accordion li span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  border-radius: 100px;
  height: 28px;
  width: 28px;
  margin-right: 0;
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
  background-color: #433878;
  color: white;
}
.accordion li {
  width: 600px;
  background-color: white;
  border-radius: 14px;
  margin-bottom: 1.5rem;
  box-shadow: 0 1 8 #d5d7e2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;

}
.scroll{
  font-family: "Font", sans-serif;
  margin-left: 2rem;

}
.accordion label {
  font-family: "BoldFont", sans-serif;
  color: #433878;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  align-items: center;
  cursor: pointer;

}

.accordion label + input[type = "radio"] {
  display: none;
}
.content{ 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  width: 88%;
  font-size: 14px;
  margin-top: 0.5rem;
}
.showContent {
  max-height: 300px; /* Adjust based on content height */
}
.accordionItem{
  cursor: pointer;
}
.accordionItem .active{
  border: 1px;
  border-style: solid;
  border-color: #5243C2;
  box-shadow: 0 4px 14px#4A3AFF30;
}
.sb::-webkit-scrollbar{
  width: 4px;

}
.sb::-webkit-scrollbar-track{
  background: #A8A2F6;
  border: 2px solid #A8A2F6;

}
.sb::-webkit-scrollbar-thumb{
  background: #433878;

}
.sb::-webkit-scrollbar-thumb:hover{
  cursor: pointer;
  background: #433878;
}
.scroll {
  display: flex;
  flex-direction: row;
}
.sb{
  margin-top: 8rem;
  position: absolute;
  height: 350px;
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
}
.sb1 {
  visibility: hidden; 
  width:60%;
}
.srb{
  margin-left: 2.5rem;
}
@media (max-width: 768px){ 
  @font-face {
    font-family: 'Font';
    src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
    font-weight: normal;
    font-style: normal;
  } 
  
  @font-face {
    font-family: 'ConLight';
    src: url('/fonts/NotoSans_ExtraCondensed-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ConBoldFont';
    src: url('/fonts/NotoSans_Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BoldFont';
    src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SemiConFont';
    src: url('/fonts/NotoSans_SemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .top{
    padding-top: 5rem;
  }
  .main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-family: "Font", sans-serif;
  }
  .topt{
    font-family: "BoldFont", sans-serif;
    color: #433878;
    font-size: 36px;
    font-weight: 300;
  }
  .line{ 
    width: 38%;
    height: 0;
    border: 0.5px;
    border-style: solid;
    border-color: #433878;
    opacity: 0.7;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .topst,.l2{
    font-family: "SemiConFont", sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 2rem;
  }
  .maintop{
    display: flex;
    flex-direction: column;
  }
  .image{
    width: 100%;
  }
  .scroll {
    margin-top: 2rem;
    width: 100%;
  }
  .midbox{
    background-color: #433878;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 16px;
    margin-bottom: 4rem;
    height: 35.1rem;
  }
  .midbl {
    width: 100%;
    height: max-content;
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .midbimg{
    width: 0;
  }
  .mg1,.mg2{
    width: 78%;
    position: absolute;
    margin-left: 0rem;
  }
  .mg2{
    margin-left: 1rem;
  }
  .mg1{
    width: 70%;
    margin-top: 0;
    margin-left: 1rem;
  }
  .s1{
    font-family: "ConLight", sans-serif;
    margin-bottom: 1.6rem;
    font-weight: 1000;
  }
  .s2{
    font-family: "BoldFont", sans-serif;
    font-size: 32px;
  }
  .line1{
    height: 0;
    width: 80%;
    color:#FDFDFD;
    opacity: 0.7;
    border: 0.5px;
    border-style: solid;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .s3{
    font-size: 12px;
    width: 80%;
  }
  .l1{ 
    font-family: "BoldFont", sans-serif;
    color: #433878;
    font-size: 34px;
  }
  .boxes{
    display: flex;
    flex-direction: column;
  }
  .topb,.botb{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 2rem;
  }
  .box,.box5{
    background-color: #ECEBFF;
    border-radius: 17px;
    padding: 1.5rem;
    box-shadow: 1px 0px 7px 1px rgba(160, 160, 160, 0.5);
  }
 
  .tit,.tit5{
    margin-top: 1rem;
    color: #433878;
    font-family: "ConBoldFont", sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  
  .lline,.lline5{
    width: 70%;
    height: 0;
    color: #433878;
    border: 0.5px;
    opacity: 0.7;
    border-style: solid;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .maincon,.maincon3{
    font-family: "ConBoldFont", sans-serif;
    font-size: 14px;
    margin-bottom: 0.7rem;
  }
  .maincon1{
    font-size: 12px;
    width: 95%;
    margin-bottom: 1.2rem;
  }
  .maincon3{
    margin-top: 1.2rem;
  }
  .arrow1,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.3s ease;
    background-color: white;
    color: #5243C2;
    border: 1px;
    border-style: solid;
    border-color: #5243C2;
    transform: rotate(270deg);
  }
  .arrow1{
    margin-left:16rem;
  }
  .arrow2{
    margin-left:16rem;
  }
  .arrow3{
    margin-left:16rem;
  }
  .arrow4{
    margin-left:16rem;
  }
  .arrow5{
    margin-left:16rem;
  }
  .arrow6{
    margin-left:16rem;
  }
  .accordion li span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    border-radius: 100px;
    height: 18px;
    width: 18px;
    margin-right: 0;
    cursor: pointer;
  }
  
  .rotate {
    transform: rotate(90deg);
    background-color: #433878;
    color: white;
  }
  .accordion li {
    width: 310px;
    height: max-content;
    background-color: white;
    border-radius: 14px;
    margin-bottom: 1.5rem;
    box-shadow: 0 1 8 #d5d7e2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .scroll{
    font-family: "Font", sans-serif;
    margin-left: 0;
  
  }
  .accordion label {
    font-family: "BoldFont", sans-serif;
    color: #433878;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
  }
  
  .accordion label + input[type = "radio"] {
    display: none;
  }
  .content{ 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    width: 92%;
    font-size: 11px;
    margin-top: 0.5rem;
  }
  .showContent {
    max-height: 300px; /* Adjust based on content height */
  }
  .accordionItem{
    cursor: pointer;
  }
  .sb{
    display: none;
  }
  .accordionItem .active{
    border: 1px;
    height: 180px;
    border-style: solid;
    border-color: #5243C2;
    box-shadow: 0 4px 14px#4A3AFF30;
  }
 
  .scroll {
    display: flex;
    flex-direction: row;
  }
  .sb{
    margin-top: 8rem;
    position: absolute;
    height: 350px;
    direction: rtl;
    overflow-y: auto;
  }
  .sb1 {
    visibility: hidden; 
    
  }
  .srb{
    margin-left: 0rem;
  }
}
@media (min-width:1600px){
  .main{
    width: 1440px;
    margin: auto;
  }
}