@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SemiConBold';
  src: url('/fonts/NotoSans_SemiCondensed-Bold.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}
.mbody { 
  background-color: #f7f4fa;
  font-family: 'Font', sans-serif;
  height: max-content;
  padding-top: 3rem;
  padding-bottom: 3rem;

}
.top5{ 
  font-family: "SemiConBold", sans-serif;
  color: #433878;
 text-transform: uppercase;
  
  font-weight: 1000;
  font-size: 16px;
}
.main5 {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2.5rem;
  align-items: center;
}
.mainl {
  width: 100%; /* change if needed */ 
  
}
.maingrid1{ 
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 equal columns */
  grid-template-columns: auto; /* Rows adjust to content height */
  gap: 15px; /* Space between grid items */
  width: 90%;

}
.maingrid2{ 
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 equal columns */
  grid-template-columns: auto; /* Rows adjust to content height */
  gap: 15px; /* Space between grid items */
  width: 90%;
  margin-left: 0rem;
  
}
.mainl2{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainlt1{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}
.mainlt2{
  display: flex;
  flex-direction: row;
  align-items:flex-start;

}
.mainl1{ 
  margin-top: 1.5rem;
  color: #433878;
  font-size: 60px;
  font-weight: 700;
}
.mainl2{ 
  margin-top: 3rem;

}
.mltr1{
  color: #433878;
  font-size: 22px;
  font-weight: 700;
}
.mltr2{ 
  font-size: 14px;
  color: #252525;
  margin-top: 0.5rem;
}
.mainltr{
  width: 100%;

}
.butt5{
  background-color: #433878;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
  border-radius: 6px;
  width: 260px;
  text-align: center;
  padding-left: 3rem;
  margin-top: 2rem;

}
.ic5{
  padding-left: 0.5rem;
  font-size: 17px;
}
.mltr2{
  text-align: justify;
}
.mainltr12{
  width: 100%;
  margin-left: 1.3rem;
}

@media (max-width: 768px)  {
  .mbody { 
    background-color: #f7f4fa;
    font-family: 'Font', sans-serif;
    height: max-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 0rem;
  }
  .top5{ 
    color: #433878;
   text-transform: uppercase;
    font-stretch: condensed;
    font-weight: 1000;
    font-size: 16px;
    width: max-content;
  }
  .main5 {
    width: 100%;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
  }
  .mainl {
    width: 100%; /* change if needed */ 

    
  }
  .maingrid1{ 
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  .maingrid2{ 
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  }
  .mainl2{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mainlt1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  .mainlt2{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  
  }
  .mainl1{ 
    margin-top: 2.5rem;
    color: #433878;
    font-size: 30px;
    font-weight: 700;
 
  }
  .mainl2{ 
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  
  }
  .mltr1{
    color: #433878;
    width: 95%;
    font-size: 18px;
    font-weight: 700;

  }
  .mltr2{ 
    width: 95%;
    font-size: 12px;
    color: #252525;
    margin-top: 0.5rem;
  }
  .mainltr{
    width: 80%;
    margin-left: 0rem;
  }
  .butt5{
    background-color: #433878;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    border-radius: 6px;
    width: 260px;
    text-align: center;
    padding-left: 3rem;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .ic5{
    padding-left: 0.5rem;
    font-size: 17px;
  }
  .mltr2{
    text-align: justify;
  }
  .mainltr12{
    width: 80%;
    margin-left: 0rem;
  }
  
}
