@font-face {
  font-family: 'Font';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
.main11{
  font-family: 'Font', sans-serif;
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
}
.left11{
  width: 55%;
  margin-left: 3.5rem;
}
.righttop11{
  color: #433878;
  text-transform: uppercase;
  font-stretch: condensed;
  font-weight: 1000;
  font-size: 17px;
  margin-bottom: 0.8rem;
}
.righttit11 {
  font-size:43px;
  font-weight: 800;
  color: #433878;
  margin-bottom: 1rem;
}
.rightmc11 {
  font-size: 17px;
  width: 85%;
  opacity: 0.75;
  margin-bottom: 5rem;
}
.rightbut11{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #433878;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  padding-left: 2.5rem;
  border-radius: 5px;
}
@media (max-width: 768px){
  .main11{
    font-family: 'Font', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 2.5rem;
  }
  .left11{
    width: 100%;
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .righttop11{
    color: #433878;
    text-transform: uppercase;
    font-stretch: condensed;
    font-weight: 1000;
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
  .righttit11 {
    font-size:24px;
    font-weight: 800;
    color: #433878;
    margin-bottom: 0.6rem;
  }
  .rightmc11 {
    font-size: 17px;
    width: 85%;
    opacity: 0.75;
    margin-bottom: 3rem;
  }
  .rightbut11{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #433878;
    color: white;
    font-size: 13px;
    font-weight: 500;
    width: max-content;
    height: 32px;
    padding-left: 1.5rem;
    border-radius: 5px;
  }
}